* {
    font-family: 'Nunito', sans-serif;
    padding: 0px;
    margin: 0px;
}

body{
    background: linear-gradient(to bottom, #fff, #b17206);
    color: #fff;
}
nav.navbar{
    background-color: #E49D25;
    width: 100%;
}

.navbar li:hover .dropdown-menu{
    visibility: visible;
}

.nav__menu > li{
    position: relative;
    display: inline-block;
    margin: 30px auto;

}

.nav__menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #fff;
}

.nav__menu > li a:hover {
    color: #b17206;
}

.nav__submenu {
    position: absolute;
    width: 120%;
    visibility: hidden;
    transition: opacity 1.5s;
    transition: color 0.2s;

}

.nav__submenu li a{
    display: block;
    padding: 15px;
    color: #FFF;
    border: solid #E49D25;
    background-color: #E49D25;
    opacity: 0.7;
    width: 100%;
    transition: 1s;
}

.nav__menu li:hover .nav__submenu{
    visibility: visible;
    opacity: 1;
    color: #E49D25;
} 

main{
    width: 100%;
    height: 1750px;
    color: #E49D25;
}

.main__ppal{
    margin: 50px;
    padding: 15px;
    width: 90%;
    grid-template-areas:
    "article1 article1"
    "article2 article2"
    "cita cita"
    "article3 article3"
    "article4 article4";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
}

.article1{
    width: 450px;
    border: solid #b17206;;
    border-radius: 10px;
    padding: 45px;
}

.article2{
    width: 450px;
    border: solid #b17206;;
    border-radius: 10px;
    padding: 45px;
    float: right;

}

.cita{
    display: inline-block;
    padding: 45px;
    font-size: 35px;
    text-align: center;
}
.blockquote{
    margin-top: 10px;
    text-align: end;
    font-weight: bold;
}
.article3{
    width: 450px;
    border: solid #b17206;;
    border-radius: 10px;
    padding: 45px;

}
.article4{
    width: 450px;
    border: solid #b17206;;
    border-radius: 10px;
    padding: 45px;
    float: right;
}

footer{
    background-color: #b17206;
    color: #fff;
    width: 100%;
    height: 170px;
}


.img{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 20px;
}


@media only screen and (max-width: 700px){

    .nav__menu > li{
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 30px auto;
    
    }

    .main__ppal{
        margin: 50px;
        padding: 15px;
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
}
